/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css */

/* Doodle Stage */
body {
  
  /* background: black; */
}
#stage {
  /* background: grey; */
  height: 215px;
  width: 600px;
  z-index: 10;
}

.sheen {
  fill: white;
  mask: url(#lens-mask);
}

.letter {
  fill: white;
  
}

#matrixCanvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

